@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&family=Raleway:wght@500&display=swap");
#pages {
  display: flex;
  flex-direction: row;
  position: absolute;
}
#pages .page-scroll {
  height: 100vh;
  width: 100vw;
  flex: 0 0 100vw;
  padding: 0 30px;
}
#pages .page-scroll > div {
  overflow: hidden;
}
#pages .page-scroll > div > h1 {
  font-size: 1.8rem;
}
#pages .page-scroll > div > p:last-child {
  font-size: 0.8rem;
}

#navbar {
  position: fixed;
  z-index: 1;
  width: 100vw;
  border-bottom: 1px solid grey;
  height: 50px;
}
#navbar #navBg {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: end;
}
#navbar #navBg > div {
  background-color: #04283a;
  width: 100vw;
  height: 0vh;
}
#navbar nav > a {
  padding-left: 10px;
  font-size: 1.1rem;
  color: #fff;
}
#navbar nav > button {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
}
#navbar nav > #navbarNav > ul {
  margin: 20px 10px;
}
#navbar nav > #navbarNav > ul > li {
  background-color: rgba(255, 255, 255, 0.25);
  margin: 0 0 5px 0;
  border-radius: 7px;
  text-align: center;
}
#navbar nav > #navbarNav > ul > li:hover {
  transition: background-color 0.15s ease-in;
  background-color: rgba(255, 255, 255, 0.1);
}
#navbar nav li {
  margin-left: 40px;
}
#navbar nav li a {
  color: #fff;
}

@keyframes horizontalScroll {
  from {
    left: var(--from);
  }
  to {
    left: var(--to);
  }
}
@keyframes hideTitle {
  from {
    height: 250px;
  }
  to {
    height: 0;
  }
}
@keyframes showPageContent {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animateNavBgDown {
  from {
    opacity: 0;
    height: 0vh;
  }
  to {
    opacity: 1;
    height: 50px;
  }
}
@keyframes animateNavBgUp {
  from {
    opacity: 1;
    height: 50px;
  }
  to {
    opacity: 0;
    height: 0vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 13px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

::-webkit-scrollbar-track {
  background: #eee;
}

.page-content {
  display: none;
}
.page-content article {
  margin: 70px 0px 100px 0px;
  width: calc(100vw - 13px);
}
.page-content a {
  color: #fff;
}

#page0 {
  background-color: #05364c;
}
#page0 .page-content p {
  font-size: 1rem;
}
#page0 .page-content footer p {
  font-size: 20px;
}
#page0 .page-content h1 {
  font-size: 1.8rem;
}

#page1 {
  background-color: #064460;
}

#page1 section ul {
  list-style: none;
  padding: 0;
}
#page1 section > ul > li {
  margin-bottom: 100px;
}
#page1 section li {
  padding: 5px 0;
}
#page1 section li > span:first-child {
  font-weight: bold;
  text-decoration: underline;
}
#page1 section li > span:first-child > a {
  color: #fff;
}
#page1 section li > span:first-child > a:hover {
  color: black;
}

#portfolio {
  margin-bottom: 100vh;
  display: flex;
}
#portfolio #timeline-vertical {
  background-color: #fff;
  width: 1px;
  height: 100%;
}
#portfolio .timeline-item {
  display: flex;
  justify-content: start;
  margin-bottom: 100px;
}
#portfolio .timeline-item .timeline-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}
#portfolio .timeline-item .timeline-horizontal .timeline-horizontal-text {
  margin-bottom: 5px;
  text-align: center;
}
#portfolio .timeline-item .timeline-horizontal .timeline-horizontal-bar {
  background-color: #fff;
  height: 1px;
}
#portfolio .timeline-item #id1 {
  width: 10vw;
}
#portfolio .timeline-item #id2 {
  width: 30vw;
}
#portfolio .timeline-item #id3 {
  width: 20vw;
}
#portfolio .timeline-item .timeline-activity {
  max-width: 40vw;
}
#portfolio .timeline-item .timeline-activity .used-technologies p {
  margin-right: 20px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
}
#portfolio .timeline-item .modal .modal-dialog {
  display: flex;
  top: 10vh;
  height: 70vh;
  width: 70vw;
  max-width: none;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content {
  background-color: #064460;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  position: relative;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents {
  max-height: 55vh;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-info ul {
  list-style: none;
  padding: 20px;
  font-size: 22px;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.25);
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-info ul span:first-child {
  font-weight: bold;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-info ul span:first-child > a {
  color: #fff;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-info ul span:first-child > a:hover {
  color: black;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-info .modal-under-photo {
  margin-top: 10px;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-photos img {
  height: 55vh;
  width: auto;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-photos #plennert-photos {
  display: flex;
  justify-content: space-around;
}

#page2 {
  background-color: #075173;
}

/*# sourceMappingURL=style.css.map */
