@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&family=Raleway:wght@500&display=swap");
#pages {
  display: flex;
  flex-direction: row;
  position: absolute;
}
#pages .page-scroll {
  height: 100vh;
  width: 100vw;
  flex: 0 0 100vw;
  padding: 0 5vw;
}
#pages .page-scroll > div {
  overflow: hidden;
}
#pages .page-scroll > div > h1 {
  font-size: 1.8rem;
  margin-top: 20px;
}
#pages .page-scroll > div > p:last-child {
  font-size: 0.8rem;
}
@media screen and (min-width: 576px) {
  #pages .page-scroll {
    padding: 0 15vw;
  }
  #pages .page-scroll > div > h1 {
    font-size: 3rem;
  }
  #pages .page-scroll > div > p:last-child {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  #pages .page-scroll {
    padding: 0 20vw;
  }
}
@media screen and (min-width: 992px) {
  #pages .page-scroll {
    padding: 0 24vw;
  }
  #pages .page-scroll > div > h1 {
    font-size: 4rem;
  }
  #pages .page-scroll > div > p:last-child {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1200px) {
  #pages .page-scroll {
    padding: 0 30vw;
  }
}

#navbar {
  position: fixed;
  z-index: 1;
  width: 100vw;
  border-bottom: 1px solid grey;
  height: 50px;
}
#navbar #navBg {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: end;
}
#navbar #navBg > div {
  background-color: #04283a;
  width: 100vw;
  height: 0vh;
}
#navbar nav > a {
  padding-left: 10px;
  font-size: 1.1rem;
  color: #fff;
}
#navbar nav > button {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
}
#navbar nav > #navbarNav > ul {
  margin: 20px 10px;
}
#navbar nav > #navbarNav > ul > li {
  background-color: rgba(255, 255, 255, 0.25);
  margin: 0 0 5px 0;
  border-radius: 7px;
  text-align: center;
}
#navbar nav > #navbarNav > ul > li > a {
  color: #fff;
}
#navbar nav > #navbarNav > ul > li:hover {
  transition: background-color 0.15s ease-in;
  background-color: rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 576px) {
  #navbar nav {
    padding: 0;
  }
  #navbar nav > a {
    margin-left: 10px;
    font-size: 1.3rem;
  }
  #navbar nav > button {
    display: none;
  }
  #navbar nav #navbarNav > ul {
    margin: 0;
    margin-right: 10px;
  }
  #navbar nav #navbarNav > ul li {
    margin-top: 4px;
    background-color: transparent;
  }
  #navbar nav #navbarNav > ul li:hover {
    background-color: transparent;
  }
  #navbar nav #navbarNav > ul li:hover > a {
    color: yellow;
    transition: color 0.15s ease-in;
  }
}
@media screen and (min-width: 668px) {
  #navbar nav > a {
    margin-left: 20px;
  }
  #navbar #navbarNav > ul {
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #navbar nav > a {
    margin-left: 30px;
    font-size: 1.5rem;
  }
  #navbar #navbarNav > ul {
    padding-right: 30px;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 868px) {
  #navbar nav > a {
    margin-left: 40px;
  }
  #navbar #navbarNav > ul {
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  #navbar nav > a {
    font-size: 1.7rem;
    padding-top: 0;
  }
  #navbar #navbarNav > ul {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  #navbar nav > a {
    margin-left: 90px;
  }
  #navbar #navbarNav > ul {
    padding-right: 90px;
  }
}

@keyframes horizontalScroll {
  from {
    left: var(--from);
  }
  to {
    left: var(--to);
  }
}
@keyframes hideTitle {
  from {
    height: 250px;
  }
  to {
    height: 0;
  }
}
@keyframes showPageContent {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animateNavBgDown {
  from {
    opacity: 0;
    height: 0vh;
  }
  to {
    opacity: 1;
    height: 50px;
  }
}
@keyframes animateNavBgUp {
  from {
    opacity: 1;
    height: 50px;
  }
  to {
    opacity: 0;
    height: 0vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 13px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

::-webkit-scrollbar-track {
  background: #eee;
}

.page-content {
  display: none;
}
.page-content article {
  margin: 70px 0px 20px 0px;
  width: calc(100vw - 13px);
}
.page-content article > h1 {
  margin: 0 20px 10px;
  font-size: 1.8rem;
}
.page-content article > section {
  padding: 0;
  margin: 0 20px;
}
.page-content article p {
  font-size: 1rem;
}
.page-content a {
  color: #fff;
}

#page0 {
  background-color: #05364c;
}
#page0 .page-content > div article section:nth-of-type(1) #about-photo-small {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
#page0 .page-content > div article section:nth-of-type(1) #about-photo-small > img {
  max-width: 350px;
  margin-bottom: 20px;
}
#page0 .page-content > div article section:nth-of-type(2) {
  margin: 30px;
}
#page0 .page-content > div article section:nth-of-type(2) > ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
#page0 .page-content > div article section:nth-of-type(2) > ul > li {
  height: 150px;
  width: 100%;
  display: flex;
}
#page0 .page-content > div article section:nth-of-type(2) > ul > li div {
  position: relative;
  width: 240px;
}
#page0 .page-content > div article section:nth-of-type(2) > ul > li div div:last-child {
  top: 10px;
  left: 5px;
  position: absolute;
  font-size: 8rem;
  opacity: 0.25;
  padding-top: 0;
  margin-top: 0;
  line-height: 1.1;
  font-weight: bold;
}
#page0 .page-content > div article section:nth-of-type(2) > ul > li:nth-of-type(2) {
  justify-content: center;
}
#page0 .page-content > div article section:nth-of-type(2) > ul > li:last-of-type {
  justify-content: end;
}
#page0 .page-content > div footer {
  font-size: 0.8rem;
}
@media screen and (min-width: 576px) {
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) {
    min-width: 300px;
    max-width: 300px;
    padding-right: 20px;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(2) {
    width: 100%;
    text-align: center;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(2) > img {
    min-height: 300px;
    max-height: 300px;
    width: auto;
  }
  #page0 .page-content > div footer {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 668px) {
  #page0 .page-content > div article {
    padding-left: 10px;
    padding-right: 10px;
  }
  #page0 .page-content > div article > h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) {
    min-width: 330px;
    max-width: 330px;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) > p {
    font-size: 1.1rem;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(2) > img {
    min-height: 330px;
    max-height: 330px;
  }
  #page0 .page-content > div article section:nth-of-type(2) {
    margin: 100px 0;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul {
    width: calc(100vw - 20px);
    display: flex;
    flex-wrap: nowrap;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul > li {
    height: 150px;
    display: flex;
    justify-content: center !important;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul > li div {
    position: relative;
    width: 200px;
  }
  #page0 .page-content > div article section:nth-of-type(3) p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  #page0 .page-content > div article {
    padding-left: 20px;
    padding-right: 20px;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) {
    min-width: 380px;
    max-width: 380px;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) > p {
    font-size: 1.2rem;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(2) > img {
    min-height: 360px;
    max-height: 360px;
  }
  #page0 .page-content > div article section:nth-of-type(3) p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 868px) {
  #page0 .page-content > div article {
    padding-left: 30px;
    padding-right: 30px;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) {
    min-width: 430px;
    max-width: 430px;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) > p {
    font-size: 1.5rem;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(2) > img {
    min-height: 440px;
    max-height: 440px;
  }
  #page0 .page-content > div article section:nth-of-type(2) {
    margin: 100px 0;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul > li div {
    width: 250px;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul > li > div div:first-of-type > h3 {
    font-size: 1rem;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul > li > div div:first-of-type > p {
    font-size: 1.4rem;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul > li > div div:last-of-type {
    top: 0;
    font-size: 12rem;
  }
  #page0 .page-content > div article section:nth-of-type(3) p {
    padding-top: 100px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  #page0 .page-content > div article {
    padding-left: 30px;
    padding-right: 30px;
  }
  #page0 .page-content > div article > h1 {
    font-size: 4rem;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) {
    min-width: 430px;
    max-width: 430px;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) > p {
    font-size: 1.8rem;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(2) > img {
    min-width: none;
    max-height: 660px;
    width: 100%;
    max-width: 500px;
  }
  #page0 .page-content > div article section:nth-of-type(3) p {
    padding-top: 100px;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  #page0 .page-content > div article {
    margin-top: 110px;
    padding-left: 80px;
    padding-right: 80px;
  }
  #page0 .page-content > div article > h1 {
    font-size: 5rem;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) > p {
    font-size: 2.9rem;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) > p:first-of-type {
    min-width: 600px;
    max-width: 600px;
    margin-right: 20px;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) > #about-photo-small {
    min-width: calc(100% - 620px);
    max-width: calc(100% - 620px);
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) > #about-photo-small img {
    min-height: 560px;
    max-height: 560px;
    width: auto;
    max-width: none;
    min-width: none;
    margin: auto;
    margin-bottom: 0;
  }
  #page0 .page-content > div article section:nth-of-type(1) > div:nth-of-type(1) > p:last-of-type {
    margin-top: 60px;
    min-width: 100%;
    max-width: 100%;
  }
  #page0 .page-content > div article section:nth-of-type(2) {
    margin: 100px 0;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul > li div {
    width: 400px;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul > li > div div:first-of-type > h3 {
    font-size: 1.3rem;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul > li > div div:first-of-type > p {
    font-size: 2rem;
  }
  #page0 .page-content > div article section:nth-of-type(2) > ul > li > div div:last-of-type {
    top: -10px;
    font-size: 18rem;
  }
  #page0 .page-content > div article section:nth-of-type(3) p {
    text-align: center;
    margin: auto;
    padding: 100px 0px;
    max-width: 1150px;
    font-size: 2.9rem;
  }
}

#page1 {
  background-color: #064460;
}
#page1 article {
  padding: 20px;
}
#page1 article > h1 {
  margin: 0 0 20px 0;
}
#page1 article #portfolio #timeline-vertical {
  display: none;
}
#page1 article #portfolio #timeline-content .timeline-item .timeline-horizontal {
  display: none;
}
#page1 article #portfolio #timeline-content .timeline-item .timeline-activity > div > h3 {
  font-size: 1.1rem;
}
#page1 article #portfolio #timeline-content .timeline-item .timeline-activity > div > h3 .winner-wrapper {
  position: relative;
  display: inline-block;
}
#page1 article #portfolio #timeline-content .timeline-item .timeline-activity > div > h3 .winner-wrapper > div:first-of-type {
  position: absolute;
}
#page1 article #portfolio #timeline-content .timeline-item .timeline-activity > div > h3 .winner-wrapper > div:last-of-type {
  position: absolute;
  text-align: center;
  width: 100%;
  display: inline-block;
}
#page1 article #portfolio #timeline-content .timeline-item .timeline-activity > div .used-technologies > p {
  margin-right: 5px;
  font-size: 0.8rem;
}
#page1 article #portfolio #timeline-content .timeline-item .timeline-activity > p {
  font-size: 0.8rem;
}

#portfolio {
  margin-bottom: 100vh;
  display: flex;
}
#portfolio #timeline-vertical {
  background-color: #fff;
  width: 1px;
  height: 100%;
}
#portfolio .timeline-item {
  display: flex;
  justify-content: start;
  margin-bottom: 100px;
}
#portfolio .timeline-item .timeline-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}
#portfolio .timeline-item .timeline-horizontal .timeline-horizontal-text {
  margin-bottom: 5px;
  text-align: center;
}
#portfolio .timeline-item .timeline-horizontal .timeline-horizontal-bar {
  background-color: #fff;
  height: 1px;
}
#portfolio .timeline-item #id1 {
  width: 10vw;
}
#portfolio .timeline-item #id2 {
  width: 30vw;
}
#portfolio .timeline-item #id3 {
  width: 20vw;
}
#portfolio .timeline-item .timeline-activity .used-technologies p {
  padding: 0 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
}
#portfolio .timeline-item .modal .modal-dialog {
  display: flex;
  top: 10vh;
  height: 70vh;
  width: 70vw;
  max-width: none;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content {
  background-color: #064460;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  position: relative;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents {
  max-height: 55vh;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-info ul {
  list-style: none;
  padding: 20px;
  font-size: 22px;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.25);
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-info ul span:first-child {
  font-weight: bold;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-info ul span:first-child > a {
  color: #fff;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-info ul span:first-child > a:hover {
  color: black;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-info .modal-under-photo {
  margin-top: 10px;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-photos img {
  height: 55vh;
  width: auto;
}
#portfolio .timeline-item .modal .modal-dialog .modal-content .modal-contents .modal-photos #plennert-photos {
  display: flex;
  justify-content: space-around;
}

#page2 {
  background-color: #075173;
}

/*# sourceMappingURL=style.css.map */
