#navbar {
    position: fixed;
    z-index: 1;
    width: 100vw;
    border-bottom: 1px solid grey;
    height: 50px;

    // Background
    #navBg {
        position: fixed;
        display: flex;
        width: 100vw;
        justify-content: end;

        > div {
            background-color: #04283a;
            width: 100vw;
            height: 0vh;
        }
    }

    // Navbar
    nav {
        > a {
            padding-left: 10px;
            font-size: 1.1rem;
            color: #fff;
        }

        > button {
            margin-right: 10px;
            background-color: transparent;
            border: none;
            color: #fff;
        }

        > #navbarNav {
            > ul {
                margin: 20px 10px;

                > li {
                    background-color: rgba($color: #fff, $alpha: 0.25);
                    margin: 0 0 5px 0;
                    border-radius: 7px;
                    text-align: center;

                    > a {
                        color: #fff;
                    }
                }

                > li:hover {
                    transition: background-color 0.15s ease-in;
                    background-color: rgba($color: #fff, $alpha: 0.1);
                }
            }
        }
    }

    @media screen and (min-width: 576px) {
        nav {
            padding: 0;

            > a {
                margin-left: 10px;
                font-size: 1.3rem;
            }

            > button {
                display: none;
            }

            #navbarNav > ul {
                margin: 0;
                margin-right: 10px;

                li {
                    margin-top: 4px;
                    background-color: transparent;
                }

                li:hover {
                    background-color: transparent;

                    > a {
                        color: yellow;
                        transition: color 0.15s ease-in;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 668px) {
        nav {
            > a {
                margin-left: 20px;
            }
        }

        #navbarNav {
            > ul {
                padding-right: 20px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        nav {
            > a {
                margin-left: 30px;
                font-size: 1.5rem;
            }
        }

        #navbarNav {
            > ul {
                padding-right: 30px;
                font-size: 1.1rem;
            }
        }
    }

    @media screen and (min-width: 868px) {
        nav {
            > a {
                margin-left: 40px;
            }
        }

        #navbarNav {
            > ul {
                padding-right: 40px;
            }
        }
    }

    @media screen and (min-width: 992px) {
        nav {
            > a {
                font-size: 1.7rem;
                padding-top: 0;
            }
        }

        #navbarNav {
            > ul {
                font-size: 1.3rem;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        nav {
            > a {
                margin-left: 90px;
            }
        }

        #navbarNav {
            > ul {
                padding-right: 90px;
            }
        }
    }
}
