@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Quicksand", sans-serif;
}

body {
    overflow-x: hidden;

    h1,
    h2,
    h3,
    h4 {
        font-family: "Raleway", sans-serif;
    }
}

#navbar {
    position: fixed;
    z-index: 1;
    width: 100vw;
    font-size: 20pt;
    border-bottom: 1px solid grey;
    height: 10vh;

    nav {
        height: 10vh;
        padding: 0 40px;

        > div > a {
            font-size: 30pt;
            color: #fff;
            font-family: "Raleway", sans-serif;
        }

        li {
            margin-left: 40px;

            a {
                color: #fff;
            }
        }
    }
}

#pages {
    display: flex;
    flex-direction: row;
    position: absolute;

    div.page-scroll {
        height: 100vh;
        width: 100vw;
        flex: 0 0 100vw;
    }
}

#page0 {
    background-color: #484748;
}

#page1 {
    background-color: #68746b;
}

#page2 {
    background-color: #526773;
}

#page4 {
    background-color: #bfbdb1;
}

:root {
    --from: 0vw;
    --to: 0vw;
}

@keyframes horizontalScroll {
    from {
        left: var(--from);
    }
    to {
        left: var(--to);
    }
}

.page-content {
    display: none;

    article {
        margin: 20vh 20vw 100px 20vw;
    }

    h1 {
        border-bottom: 1px dashed grey;
    }
}

#navBg {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: end;

    > div {
        background-color: #212121;
        width: 100vw;
        height: 0vh;
    }
}

@keyframes animateNavBgDown {
    from {
        opacity: 0;
        height: 0vh;
    }

    to {
        opacity: 1;
        height: 10vh;
    }
}

@keyframes animateNavBgUp {
    from {
        opacity: 1;
        height: 10vh;
    }

    to {
        opacity: 0;
        height: 0vh;
    }
}

.page-scroll {
    > div {
        height: 200px;
        overflow: hidden;
        max-width: 40vw;

        > h1 {
            font-size: 65px;
        }
    }
}

@keyframes hideTitle {
    from {
        height: 200px;
    }

    to {
        height: 0;
    }
}

@keyframes showPageContent {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#photo {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}

#soft-skills {
    p {
        text-align: justify;
    }

    li:first-child > div {
        margin-right: 10px;
    }

    li:not(:first-child):not(:last-child) > div {
        margin-left: 10px;
        margin-right: 10px;
    }

    li:last-child > div {
        margin-left: 10px;
    }
}

img {
    width: 100%;
    height: auto;
}

.portfolio-images {
    margin-top: 30px;
}

#page1 {
    section {
        ul {
            list-style: none;
            padding: 0;
        }
        > ul > li {
            margin-bottom: 100px;
        }

        li {
            padding: 5px 0;

            > span:first-child {
                font-weight: bold;
                text-decoration: underline;

                > a {
                    color: #fff;
                }

                > a:hover {
                    color: black;
                }
            }
        }
    }
}

footer {
    background-color: #fff;
}
