#page1 {
    // background-color: #064460;
    background-color: #a4285e;
    article {
        padding: 20px;

        > h1 {
            margin: 0 0 20px 0;
        }

        #portfolio {
            #timeline-vertical {
                display: none;
            }

            #timeline-content {
                .timeline-item {
                    margin: 0;

                    .timeline-horizontal {
                        display: none;
                    }

                    .timeline-activity {
                        > div:first-of-type {
                            > h3 {
                                font-size: 1.1rem;

                                .winner-wrapper {
                                    position: relative;
                                    display: inline-block;

                                    > div:first-of-type {
                                        position: absolute;
                                    }

                                    > div:last-of-type {
                                        position: absolute;
                                        text-align: center;
                                        width: 100%;
                                        display: inline-block;
                                    }
                                }
                            }

                            .used-technologies {
                                > p {
                                    margin-right: 5px;
                                    font-size: 0.8rem;
                                    padding: 0 5px;
                                    border-radius: 5px;
                                    background-color: rgba(
                                        $color: #fff,
                                        $alpha: 0.25
                                    );
                                }
                            }
                        }

                        > p {
                            font-size: 0.8rem;
                        }

                        > div.timeline-info-small {
                            > ul {
                                list-style: none;
                                margin: 0;
                                padding: 0 15vw;

                                > li {
                                    > span {
                                        color: #fff;
                                        font-size: 0.8rem;
                                    }

                                    > span:first-of-type {
                                        font-weight: bold;
                                    }

                                    > ul {
                                        > li {
                                            font-size: 0.8rem;
                                        }
                                    }
                                }
                            }

                            > div:first-of-type {
                                padding: 20px 15vw;
                            }

                            > div:nth-of-type(2) {
                                padding: 0 15vw 20px 15vw;
                            }

                            > div:nth-of-type(3) {
                                padding: 0 15vw 20px 15vw;
                            }
                        }
                    }
                }

                .hr {
                    height: 1px;
                    background-color: #fff;
                    width: 100vw;
                    margin: 20px -20px 30px -20px;
                }
            }
        }
        #timeline-arrow {
            position: relative;

            i {
                position: absolute;
                top: -9px;
                left: 0px;
                font-size: 2rem;
            }
        }
    }

    footer {
        margin-top: 100px;
        p {
            font-size: 0.8rem;
        }
    }

    @media screen and (min-width: 576px) {
        article {
            #timeline-content {
                margin-bottom: 70px;
            }

            .modal {
                .modal-dialog {
                    .modal-content {
                        background-color: #222;
                        box-shadow: 5px 5px 5px rgba($color: #000, $alpha: 0.1);
                        border-radius: 15px;
                        padding: 20px;

                        .modal-body {
                            padding-top: 0;
                            padding-bottom: 0;

                            .modal-contents {
                                ul {
                                    list-style: none;
                                    padding: 0;

                                    li {
                                        color: #fff;
                                        font-size: 0.8rem;

                                        span {
                                            color: #fff;
                                            font-size: 0.8rem;

                                            a {
                                                color: #fff;
                                            }
                                        }

                                        span:first-of-type {
                                            font-weight: bold;
                                        }

                                        ul {
                                            list-style-type: disc;
                                            padding-left: 20px;
                                        }
                                    }
                                }

                                > div:first-of-type {
                                    background-color: rgba(
                                        $color: #fff,
                                        $alpha: 0.25
                                    );
                                    border-radius: 15px;
                                    padding: 0 20px;

                                    > ul {
                                        > li {
                                            margin-bottom: 7px;
                                        }
                                    }
                                }

                                > div:last-of-type {
                                    margin: 0;
                                    padding: 0;
                                    padding-left: 20px;
                                }
                            }
                        }
                    }
                }
            }

            #timeline-item-treasure_hunt {
                .modal {
                    .modal-contents {
                        .carousel-item > img {
                            min-height: 373px;
                        }
                    }
                }
            }

            #timeline-item-ypto_hackathon {
                .modal {
                    .modal-contents {
                        div:last-of-type {
                            padding-left: 0;
                        }
                    }
                }
            }

            #timeline-item-plennert {
                .modal {
                    img {
                        min-height: 402px;
                    }
                }
            }

            #timeline-item-pokeplayer {
                .modal {
                    .modal-contents {
                        .carousel-item > img {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 868px) {
        article {
            padding: 40px 80px;
            > h1 {
                font-size: 3rem;
                margin-bottom: 80px;
            }

            #portfolio {
                display: flex;

                #timeline-vertical {
                    display: block;
                    background-color: #fff;
                    min-width: 5px;
                    border-radius: 10px;
                    height: 100%;
                }

                #timeline-content {
                    .hr {
                        background-color: transparent;
                        height: 40px;
                    }

                    .timeline-item {
                        display: flex;
                        justify-content: start;

                        .timeline-horizontal {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-right: 30px;

                            .timeline-horizontal-text {
                                margin-bottom: 5px;
                                text-align: center;
                            }

                            .timeline-horizontal-bar {
                                background-color: #fff;
                                height: 5px;
                                border-top-right-radius: 3px;
                                border-bottom-right-radius: 3px;
                            }
                        }

                        .timeline-activity {
                            max-width: 50vw;

                            > div:first-of-type {
                                > h3 {
                                    font-size: 1.4rem;
                                }

                                .used-technologies {
                                    p {
                                        font-size: 1rem;
                                        margin-right: 10px;
                                    }
                                }
                            }

                            > p {
                                font-size: 1rem;
                            }

                            > .more-info-button {
                                text-align-last: left;

                                > a {
                                    display: inline-block;
                                    position: relative;
                                    padding-bottom: 2px;
                                    text-decoration: none;
                                    overflow: hidden;
                                }

                                > a::after {
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 3px;
                                    background-color: #fff;
                                    opacity: 0;
                                    transition: opacity 300ms, transform 300ms;
                                    opacity: 1;
                                    transform: translate3d(-105%, 0, 0);
                                }

                                a:hover::after,
                                a:focus::after {
                                    opacity: 1;
                                    transform: translate3d(0, 0, 0);
                                }
                            }

                            .modal {
                                .modal-dialog {
                                    min-width: 700px;

                                    .modal-content {
                                        box-shadow: 5px 5px 5px
                                            rgba($color: #000, $alpha: 0.1);
                                        border-radius: 15px;
                                        padding: 20px;

                                        .modal-body {
                                            .modal-contents {
                                                ul {
                                                    li {
                                                        font-size: 1.2rem;

                                                        span {
                                                            font-size: 1.2rem;
                                                        }

                                                        ul {
                                                            padding-left: 30px;
                                                        }
                                                    }
                                                }

                                                div > ul > li {
                                                    margin-bottom: 15px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #timeline-item-treasure_hunt {
                > .timeline-horizontal {
                    min-width: 15vw;
                }

                .modal {
                    .modal-contents {
                        .modal-info {
                            padding-right: 30px;
                        }

                        .carousel-item > img {
                            min-height: 532px;
                        }
                    }
                }
            }

            #timeline-item-ypto_hackathon {
                > .timeline-horizontal {
                    min-width: 20vw;
                }

                .modal {
                    .modal-contents {
                        div:last-of-type {
                            padding-left: 0;
                        }
                    }
                }
            }

            #timeline-item-elementalstones {
                > .timeline-horizontal {
                    min-width: 35vw;
                }
            }

            #timeline-item-plennert {
                > .timeline-horizontal {
                    min-width: 25vw;
                }

                .modal {
                    img {
                        min-height: 555px;
                    }
                }
            }

            #timeline-item-htf {
                > .timeline-horizontal {
                    min-width: 20vw;
                }
            }

            #timeline-item-pokeplayer {
                > .timeline-horizontal {
                    min-width: 30vw;
                }

                .modal {
                    .modal-dialog {
                        .modal-content {
                            min-width: 750px;
                            margin: 0;

                            .carousel-item > img {
                                height: 300px;
                            }
                        }
                    }
                }
            }

            #timeline-item-reminder {
                > .timeline-horizontal {
                    min-width: 20vw;
                }
            }

            #timeline-arrow {
                display: block !important;
            }
        }
    }

    @media screen and (min-width: 992px) {
        article {
            #timeline-item-htf {
                > .timeline-horizontal {
                    min-width: 15vw;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        article {
            padding: 40px 100px;

            .hr {
                min-height: 100px;
            }
        }
    }

    @media screen and (min-width: 1400px) {
        article {
            padding: 40px 180px 40px 100px;

            #timeline-vertical {
                margin-left: 90px;
            }

            #timeline-arrow {
                margin-left: 90px;

                i {
                    top: -9px;
                    left: 0px;
                }
            }
        }
    }
}
