#page1 {
    background-color: #064460;
    article {
        padding: 20px;

        > h1 {
            margin: 0 0 20px 0;
        }

        #portfolio {
            #timeline-vertical {
                display: none;
            }

            #timeline-content {
                .timeline-item {
                    margin: 0;

                    .timeline-horizontal {
                        display: none;
                    }

                    .timeline-activity {
                        > div:first-of-type {
                            > h3 {
                                font-size: 1.1rem;

                                .winner-wrapper {
                                    position: relative;
                                    display: inline-block;

                                    > div:first-of-type {
                                        position: absolute;
                                    }

                                    > div:last-of-type {
                                        position: absolute;
                                        text-align: center;
                                        width: 100%;
                                        display: inline-block;
                                    }
                                }
                            }

                            .used-technologies {
                                > p {
                                    margin-right: 5px;
                                    font-size: 0.8rem;
                                }
                            }
                        }

                        > p {
                            font-size: 0.8rem;
                        }

                        > div.timeline-info-small {
                            > ul {
                                list-style: none;
                                margin: 0;
                                padding: 0 15vw;

                                > li {
                                    > span {
                                        color: #fff;
                                        font-size: 0.8rem;
                                    }

                                    > span:first-of-type {
                                        font-weight: bold;
                                    }
                                }
                            }

                            > div:first-of-type {
                                padding: 20px 15vw;
                            }

                            > div:nth-of-type(2) {
                                padding: 0 15vw 20px 15vw;
                            }

                            > div:nth-of-type(3) {
                                padding: 0 15vw 20px 15vw;
                            }
                        }
                    }
                }

                .hr {
                    height: 1px;
                    background-color: #fff;
                    width: 100vw;
                    margin: 20px -20px 30px -20px;
                }
            }
        }
    }

    footer {
        margin-top: 100px;
        p {
            font-size: 0.8rem;
        }
    }

    @media screen and (min-width: 576px) {
    }
}

#portfolio {
    display: flex;

    #timeline-vertical {
        background-color: #fff;
        width: 1px;
        height: 100%;
    }

    .timeline-item {
        display: flex;
        justify-content: start;

        .timeline-horizontal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 30px;

            .timeline-horizontal-text {
                margin-bottom: 5px;
                text-align: center;
            }

            .timeline-horizontal-bar {
                background-color: #fff;
                height: 1px;
            }
        }

        #id1 {
            width: 10vw;
        }

        #id2 {
            width: 30vw;
        }

        #id3 {
            width: 20vw;
        }

        .timeline-activity {
            // max-width: 40vw;

            .used-technologies {
                p {
                    padding: 0 5px;
                    border-radius: 5px;
                    background-color: rgba($color: #fff, $alpha: 0.25);
                }
            }
        }

        // .modal {
        //     .modal-dialog {
        //         display: flex;
        //         top: 10vh;
        //         height: 70vh;

        //         width: 70vw;
        //         max-width: none;

        //         .modal-content {
        //             background-color: #064460;
        //             box-shadow: 5px 5px 5px rgba($color: #000, $alpha: 0.1);
        //             border-radius: 15px;
        //             padding: 20px;
        //             position: relative;

        //             .modal-contents {
        //                 max-height: 55vh;

        //                 .modal-info {
        //                     ul {
        //                         list-style: none;
        //                         padding: 20px;
        //                         font-size: 22px;
        //                         height: 100%;
        //                         border-radius: 15px;

        //                         background-color: rgba(
        //                             $color: #fff,
        //                             $alpha: 0.25
        //                         );

        //                         span:first-child {
        //                             font-weight: bold;

        //                             > a {
        //                                 color: #fff;
        //                             }

        //                             > a:hover {
        //                                 color: black;
        //                             }
        //                         }
        //                     }

        //                     .modal-under-photo {
        //                         margin-top: 10px;
        //                     }
        //                 }

        //                 .modal-photos {
        //                     img {
        //                         height: 55vh;
        //                         width: auto;
        //                     }

        //                     #plennert-photos {
        //                         display: flex;
        //                         justify-content: space-around;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}
