.link {
    cursor: pointer;
}

.link span:hover {
    color: #232322 !important;

    >i {
        color: #232322 !important;
    }
}

.link a:hover {
    color: #232322 !important;
}

.page-scroll {
    cursor: pointer;
}

.page-content {
    display: none;
    article {
        margin: 70px 0px 20px 0px;
        width: calc(100vw - 13px);

        > h1 {
            margin: 0 20px 10px;
            font-size: 1.8rem;
        }

        > section {
            padding: 0;
            margin: 0 20px;
        }

        p {
            font-size: 1rem;
        }
    }

    a {
        color: #fff;
    }
}
